:root {
  --arrow-height: 60px;
  --arrow-width: 18px;
  --letterspacing: 0.0em;
  --letterspacing-small: 0.01em;
  --letterspacing-medium: 0.05em;
  --letterspacing-large: 0.1em;
  --font: "Rethink Sans", system-ui, sans-serif;
  --serif: "EB Garamond", system-ui, sans-serif;
}

body {
  font-family: var(--font);
  line-height: 1.3;
  letter-spacing:var(--letterspacing-small);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font);
  font-weight: 400;
  margin-bottom: 0em;
}

.rte > *:not(:last-child) {
  margin-bottom: var(--pad-1);
}


.button {
  padding: var(--button-padding);
  background: transparent;
  color: rgb(var(--black));
  font-size: var(--h4);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid rgb(var(--black));
  transition: background 1s ease;
}

.button:hover {
  background: rgb(var(--black));
}
.button > span {
transition: color 1s ease;
}

.button:hover > span {
  animation: button-hover-text .7s ease forwards;
}

@keyframes button-hover-text {
  0% {
    filter: blur(0);
    opacity: 1;
    color: rgb(var(--black));
  }
  50% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
    opacity: 1;
    color: rgb(var(--white));
  }
}


.heading {
  font-weight: 400;
  letter-spacing: 0px;
  font-family: var(--font);
}
footer, header {
  font-family: var(--font);
}





/* ---------------------------------
LARGE TITLES
--------------------------------- */ 


.h1     { line-height: 1.1; }
.h2     { line-height: 1.1; }
.h3     { line-height: 1.4; }
.h4     { line-height: 1.4; }
.h5     { line-height: 1.3; }
.h6     { line-height: 1.3; }
body    { line-height: 1.3; }
.rte    { line-height: 1.3; }

.h1, .rte h1 { font-size: var(--h1); font-family: var(--font); text-transform: uppercase; letter-spacing: var(--letterspacing-medium); }
.h2, .rte h2 { font-size: var(--h2); font-family: var(--font); text-transform: uppercase; letter-spacing: var(--letterspacing-medium); }
.h3, .rte h3 { font-size: var(--h3); font-family: var(--serif); text-transform: none; font-weight: 400; letter-spacing: var(--letterspacing-small); }
.h4, .rte h4 { font-size: var(--h4); font-family: var(--font); text-transform: uppercase; font-weight: 400; letter-spacing: var(--letterspacing-medium); }
.h5, .rte h5 { font-size: var(--h5); font-family: var(--font); text-transform: none; font-weight: 400; letter-spacing: var(--letterspacing-small); }
.h6, .rte h6 { font-size: var(--h6); font-family: var(--font); text-transform: none; font-weight: 400; letter-spacing: var(--letterspacing-sall); }
body         { font-size: var(--body); }

.rte .sanity-blocks  {
  display: flex;
  flex-direction: column;
  gap: var(--pad-1);
}

:root {
  --unit: 12px;
  --h1: calc(calc(var(--unit) * 2.8) / 1.6); /* 28px */
  --h2: var(--h1); 
  --h3: var(--h1);
  --h4: calc(calc(var(--unit) * 2.1) / 1.6); /* 21px */
  --h5: calc(calc(var(--unit) * 1.6) / 1.6); /* 16px */
  --h6:  var(--h5);
  --body: calc(calc(var(--unit) * 2.6) / 1.6); /* 26px */
}
@media (min-width: 700px) {
  :root {
    --unit: 2vw;
  }
}

@media (min-width: 1000px) {
  :root {
    --unit: 1vw;
  }
}

/* 1800 + (20px x 4) x 2 */
@media (min-width: 1600px) {
  :root {
    --unit: 16px;
    
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform:uppercase;
}
.transform-none {
  text-transform: none;
}
.sanity-blocks {
  font-weight: 400;
}
.sanity-blocks strong, .sanity-blocks b {
  font-weight: 700;
}





.arrow {
  display: inline-block;
  width: var(--arrow-width);
  height: var(--arrow-height);
  transform-origin: center;
  position:relative;
  line-height: 24px;
  font-family: var(--font);
  transition: transform 0.6s ease;
}

*:hover > .arrow {
  transform: scaleX(.75);
}
.arrow:before, 
.arrow:after {
  content: '';
  display: block;
}
.arrow:before {
  width: var(--arrow-width);
  height: var(--arrow-height);
  left: calc(var(--arrow-width) / 2 - 1px);
  top: 0px;
  border-left: 1px solid currentColor;
  position: absolute
}
.arrow:after {
  width: calc(var(--arrow-width) / 1.75);
  height: calc(var(--arrow-width) / 1.75);
  left: calc(var(--arrow-width) / 5);
  top: calc(var(--arrow-width) / 10);
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  transform: rotate(135deg);
  position: absolute;
  transform-origin: center;
}
.arrow.arrow-right {
  transform: rotate(90deg) scaleX(.75);
}